{% extends 'base.html' %}

{% block main %}
    <h1>Contact Form</h1>
    <hr>
    <p>Fill in this form to contact the site owners.</p>
    <form action="{{ url_for('contact') }}" method="POST" novalidate>
            {{ form.csrf_token }}
            {{ form.name.label }} 
            <p>Please enter your full name</p>
            {{ form.name(size=40) }}
            {{ form.email.label }}
            <p>Please enter your e-mail address</p>
            {{ form.email(size=40) }}
            {{ form.subject.label }}
            <p>Please enter the subject for your message</p>
            {{ form.subject(size=40) }}
            {{ form.message.label }}
            <p>Please enter the message you would like to send.</p>
            {{ form.message }}
            <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}